<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Recipely</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPrivacyAccessedAPITypes</key>
	<array>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryFileTimestamp</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>C617.1</string>
			</array>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryUserDefaults</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>CA92.1</string>
			</array>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategorySystemBootTime</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>35F9.1</string>
			</array>
		</dict>
	</array>
	<key>NSPrivacyCollectedDataTypes</key>
	<array/>
	<key>NSPrivacyTracking</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Sofia-Pro-Black-Italic.otf</string>
		<string>Sofia-Pro-Black.otf</string>
		<string>Sofia-Pro-Bold-Italic.otf</string>
		<string>Sofia-Pro-Bold.otf</string>
		<string>Sofia-Pro-ExtraLight-Italic.otf</string>
		<string>Sofia-Pro-ExtraLight.otf</string>
		<string>Sofia-Pro-Light-Italic.otf</string>
		<string>Sofia-Pro-Light.otf</string>
		<string>Sofia-Pro-Medium-Italic.otf</string>
		<string>Sofia-Pro-Medium.otf</string>
		<string>Sofia-Pro-Regular-Italic.otf</string>
		<string>Sofia-Pro-Regular.otf</string>
		<string>Sofia-Pro-Semi-Bold-Italic.otf</string>
		<string>Sofia-Pro-Semi-Bold.otf</string>
		<string>Sofia-Pro-UltraLight-Italic.otf</string>
		<string>Sofia-Pro-UltraLight.otf</string>
	</array>
</dict>
</plist>
